<!DOCTYPE html>
<html>
<head>
    <title>{{wojewodztwo.nazwa}} Information</title>
</head>
<body>
    <h1>{{wojewodztwo.nazwa}} Information</h1>
    <ul>
        <li>Nazwa: {{ wojewodztwo.nazwa }}</li>
        <li>id terytowe: {{ wojewodztwo.id_terytowe }} </li>
        <li>Populacja: {{ wojewodztwo.ludnosc }}</li>
        <li>miasto_wojewodzkie: {{ wojewodztwo.miasto_wojewodzkie }} km²</li>
        <li>wspolrzedne_miasta_wojewodzkiego_x: {{ wojewodztwo.wspolrzedne_miasta_wojewodzkiego_x }}</li>
        <li>wspolrzedne_miasta_wojewodzkiego_y: {{ wojewodztwo.wspolrzedne_miasta_wojewodzkiego_y }}</li>
        <li>drugie_miasto_wojewodzkie: {{ wojewodztwo.drugie_miasto_wojewodzkie }}</li>
        <li>wspolrzedne_drugiego_miasta_wojewodzkiego_x: {{ wojewodztwo.wspolrzedne_drugiego_miasta_wojewodzkiego_x }}</li>
        <li>wspolrzedne_drugiego_miasta_wojewodzkiego_y: {{ wojewodztwo.wspolrzedne_drugiego_miasta_wojewodzkiego_y }}</li>
        <li>powierzchnia: {{ wojewodztwo.powierzchnia }} km²</li>
        <li>inne_dane: {{ wojewodztwo.inne_dane }}</li>
        
    </ul>
</body>
</html>
