<!DOCTYPE html>
<html>
<head>
    <title>{{powiat.nazwa}} Information</title>
</head>
<body>
    <h1>{{powiat.nazwa}} Information</h1>
    <ul>
        <li>Nazwa: {{ powiat.nazwa }}</li>
        <li>id terytowe: {{ powiat.id_terytowe }} </li>
        <li>Populacja: {{ powiat.ludnosc }}</li>
        <li>powierzchnia: {{ powiat.powierzchnia }} km²</li>
        <li>miasto powiatowe: {{ powiat.stolica_powiatu }} km²</li>
        <li>wspolrzedne_stolicy_x: {{ powiat.wspolrzedne_stolicy_x }}</li>
        <li>wspolrzedne_stolicy_y: {{ powiat.wspolrzedne_stolicy_y }}</li>
        <li>typ powiatu: {{ powiat.typ_powiatu }}</li>
        <li>wojewodztwo_w_ktorym_sie_znajduje: {{powiat.wojewodztwo_w_ktorym_sie_znajduje}}</li>
        <li>inne_dane: {{ powiat.inne_dane }}</li>
        
    </ul>
</body>
</html>
